Flask                        
Gunicorn
plotly
numpy                         
requests                      
scikit-learn                  
scipy                         
xgboost                  
pandas

