Flask                         2.2.2
Gunicorn
numpy                         1.23.5
requests                      2.28.1
scikit-learn                  
scipy                         1.10.0
xgboost                       2.0.2
pandas

